@import url('./theme.css');

.games-content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column; 
    text-align: center;
    color: var(--text-color); 
    margin-bottom: 30px;
}

.games-text {
    margin: 40px;
    background-color: var(--main-color);
    border-radius: 30px;
}

.games-grid{
    margin: 5%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.gg-item {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    color: var(--text-color);
    width: 300px; 
}

.gg-item:hover {
    transform: translateY(-3px) scale(1.05);
}

.gg-item img {
    width: 300px;
}

@media screen and (max-width: 700px) {
    .gg-item {
        width: 100%;
    }
    .gg-item img {
        width: 100%;
    }
}