@import url('./theme.css');

.su-content {      
    flex: 1 0 auto;
    display: grid; 
    grid-template-columns: clamp(420px, 50%, 900px); 
    grid-template-rows: minmax(150px, 300px);
    justify-content: center;
    align-items: center;
    
} 

.sign-up-area {
    font-size: 30px;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 20px;
}

.sign-up-area table {
    width: 100%;
    text-align: center;
}

.sign-up-area input[type=text], .sign-up-area input[type=password] {
    font-size: 22px;
    background-color: var(--body-color);
    color: var(--text-color);
}

.sign-up-area input[type=submit] {
    background-color: var(--body-color);
    color: var(--text-color);
    font-size: 22px;
    font-family: 'RocknRoll One', sans-serif;
}