@import url('./header.css');
@import url('./footer.css');
@import url('./theme.css');

@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color:var(--text-color);
}

html, body {
    height: 100%;
  }

body {
    min-width: 500px;
    background-color: var(--body-color);
    font-family: 'RocknRoll One', sans-serif;
    display: flex;
    flex-direction: column;
}

