@import url('./theme.css');


.main-content {
    padding: 1rem;   
    flex: 1 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
} 

@media screen and (min-width: 1000px) {
    .main-content {
        padding: 1rem;   
        flex: 1 0 auto;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        
    }
    
    .long {
        grid-row:  span 2 / auto;
    }

    .wide {        
        grid-column:  span 2 / auto;
    }
}


.mc-item{   
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 1%;
    position: relative;
    text-align: center;
}

.mc-item:hover {
    transform: translateY(-3px) scale(1.03);
}

.mc-item-text {
    background-color: var(--main-color);
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.mc-item-text:focus {
    outline: none;
}

.mc-item-text:hover {
    text-decoration: underline;
    text-decoration-color: var(--alternative-color);
    text-decoration-thickness: 3px;
}

.mc-item img {
    width: 100%;  
}